body{
	background-color: #3063a4!important;
	font-family: 'Montserrat', sans-serif;
}

.font-12{
	font-size: 12px;
}

.wrapper{
	background-image: linear-gradient(160deg, #52b4e3 50%, #3063a4 50%);
	background-position: center;
	height: 100vh;
	color: #fff;
}

.btn-custom{
	text-transform: uppercase;
	font-weight: 600;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 15px;
}
.btn-custom.red{
	background-color: #c6192c;
	transition: .25s all;
}
.btn-custom.red:hover{
	background-color: #b40014;
	transform: scale(1.1);
}
.btn-custom.blue{
	background-color: #51B4E2;
	transition: .25s all;
}
.btn-custom.blue:hover{
	background-color: #0073a8;
	transform: scale(1.1);
}

.title{
	transform: translate(-50%, -50%);
}
.title.t1{
	top: 30%; 
	left: 50%; 
	
}
.title.t2{
	top: 60%; 
	left: 50%;
}
.t1 p {
	line-height: 19px;
	font-size: 10px;
}
.t2 h1{
	line-height: 40px; 
	text-shadow: 2px 2px #3063a4;
}

.input-style{
	border:none;
	font-weight: bold; 
	text-align: center;
	color: #0A2444;
}
.input-style.number{
	font-size: 1.5em;
}
.input-style.details{

}
.partitioned{
	background-color:transparent; 
	border:none; 
	border-bottom:5px solid #fff; 
	margin: 5px 5px;
	color:#fff;
	padding: 5px;
	font-size: 1.5em;
	-webkit-appearance: none;
}
.f-label{
	font-size: 12px;
	font-weight:bold;
	text-transform: uppercase;
}
.form-group{
	margin-bottom: 0;
}
input:focus{
    outline: none;
}

.is-invalid{
	border: 3px solid #b40014;
	background-color: #efa0a0;
}

.partitioned::placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.input-style::placeholder {
  color: rgba(124, 124, 124, 0.5);
  opacity: 1;
}

*, *:before, *:after {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
     }

input, input:before, input:after {
      -webkit-user-select: initial;
      -khtml-user-select: initial;
      -moz-user-select: initial;
      -ms-user-select: initial;
      user-select: initial;
     } 

@media screen and (max-width: 480px) {
	.t1 p {
		margin-top:20px;
		line-height: 15px;
		font-size: 8px;
	}
	.t2 h1{
		font-size: 30px;
		line-height: 35px; 
		text-shadow: 2px 2px #3063a4;
	}

}

@media screen and (max-width: 786px) {

}